<form ng-submit="ctrl.save()" ng-controller="NuevaSController as ctrl">
    Fecha: <input type="text" ng-model="ctrl.fecha" />
    Sesión: <input type="text" ng-model="ctrl.noSesion" />
    Sintomas y signos: <input type="text" ng-model="ctrl.sintomas" />
    Resumen de la sesión: <input type="text" ng-model="ctrl.resumenSesion" />
    Próxima sesion: <input type="text" ng-model="ctrl.proximaSesion" />
    Tarea del paciente: <input type="text" ng-model="ctrl.tarea" />
    <input type="submit" id="submit" value="guardar" />
</form>
