

<div ng-controller="IndexSesionesController as ctrl">
    <h1>Sesiones del paciente : {{ctrl.name}}</h1>
    <h2>Edad : {{ctrl.age}}</h2>
    <h2>Id : {{ctrl.id}}</h2>
    <ul ng-repeat="sesion in ctrl.sesiones">
      
        <li>
             Fecha de sesion{{sesion.fecha}} no.{{sesion.noSesion}}
            <a ng-href="#" ng-click="ctrl.delete(sesion._id);">borrar</a>
            <a ng-href="#/editar/{{student._id}}">editar</a>
            <a ng-href="#/ver/{{student._id}}">ver</a>
        </li>
      
    </ul>
    que ponga aqui el id texto
    <a ng-href="#/nuevaS/{{ctrl.id}}">Agregar sesion</a>
</div>
